*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.nav{
    background-color: blue;
    height: 5vh;
}
.header{
    background-color: antiquewhite;
}

.main{
    background-color: rgb(181, 247, 247);
    height: 30vh;
}
.sign-up{
    background-color: burlywood;

}
.feature1{
    background-color: crimson;
    
}
.feature2{
    background-color: rgb(169, 118, 236);
   
}
.feature3{
    background-color: rgb(177, 255, 131);
}
.sign-up,
.feature,
.header{
    height: 14vh;
}
.nav,
.header,
.main,
.sign-up,
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
}
@media only screen and (min-width:768px){
.sign-up,
.feature,
.header{
    height: calc(70vh / 3);
    } 

.sign-up{
    grid-column: 1 / 7;
    }
.feature1{
    grid-column: 7 / 13;
    }
.feature2{
    grid-column: 1 / 7;
    }
.feature3{
    grid-column: 7 / 13;
    }
}
@media only screen and (min-width:1024px){
    .main{
        grid-row: 4 / 5;
    }
    .sign-up{
        grid-column: 1 / -1;
        height: 15vh;
        grid-row: 3 / 4;
        }
    .feature{
        height: 40vh;
    }
    .feature1{
        grid-column: 1 / 5;
        }
    .feature2{
        grid-column: 5 / 9;
        }
    .feature3{
        grid-column: 9 / 13;
        }
    }